{
  "exchanges":
  [
    {
      "ccxt_id":"independentreserve",
      "api_url":"This URL will override the default URL configured in ccxt",
      "owner":"kevin",
      "api_key": "removed. See the encrypted version.",
      "api_secret": "removed. See the encrypted version.",
      "passphrase":"removed. See the encrypted version.",
      "notes": "Any notes you want to add for this credential"
    },
    {
      "ccxt_id":"gemini_sandbox",
      "owner":"kevin",
      "api_url":"https://api.sandbox.gemini.com",
      "api_key":"abcdefghi",
      "api_secret":"123456789"
    },
    {
      "ccxt_id":"gdax_sandbox",
      "owner":"kevin",
      "api_url":"https://api.sandbox.gemini.com",
      "api_key":"abcdefghi",
      "api_secret":"123456789"
    }
  ]
}
