{
  "exchanges":
  [
    {
      "ccxt_id":"independentreserve",
      "owner":"kevin",
      "api_key": "removed. See the encrypted version."
      "api_secret": "removed. See the encrypted version."
    }
  ]
}
